<h1>New game</h1>
<hr>

<%# affichage des lettres %>
<% @lettres.each do |lettre| %>
<span class="badge bg-primary"><%= lettre.capitalize %></span>
<% end %>

<%# creation du form %>
<form action="/score" method="score" class="input-group m-3">
  <input type="text" class="form-control" name="test"  placeholder="your longest word" aria-describedby="basic-addon2">
  <input class="btn btn-primary" type="submit" value="Submit!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grille, @lettres %>
</div>
</form>


